/* Interface design  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  background-color: #000;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content {
  text-align: center;
}
h1 {
  color: #ffffff;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

.btn-group {
  padding: 10px;
}

#btn-output {
  padding: 10px 15px;
  border: #000000 2px solid;
  letter-spacing: 4px;
  background-color: #ffffff;
  color: #000000;
}
#btn-copy {
  padding: 10px 15px;
  border: #000000 2px solid;
  letter-spacing: 2px;
  background-color: #ffffff;
  color: #000000;
}
.btn-click {
  background-color: green;
  color: #ffffff;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  border: #000000 2px solid;
  letter-spacing: 2px;
}
.btn-click:hover {
  background-color: #ffffff;
  color: #000000;
}

.toast-massage {
  position: fixed;
  z-index: 999;
  background-color: #25a881;
  width: 200px;
  top: 20px;
  right: 20px;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(23, 23, 23, 0.5);
  cursor: pointer;
}

.toast-animation-in {
  animation: toast-slider-in 0.5s ease-in;
}
.toast-animation-out {
  animation: toast-slider-out 0.5s ease-in;
}

@keyframes toast-slider-in {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes toast-slider-out {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}
