/* Interface design  */
body,
h1 {
  margin: 0;
  padding: 0;
}
.container {
  background-color: azure;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  text-align: center;
}
h1 {
  color: red;
  display: block;
}
.btn {
  background-color: green;
  color: #ffffff;
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
  border: none;
}
